body {
	background-color : #1abc9c; 
}
.commandContain {
	background-color: blue;
	color: 'red';
	.command {
		padding-left: 20px;
	}
	.desc {
		padding-left: 20px;
		font-weight: bold;
		color: red;
	}
	.user {
		padding-left : 100px;
	}
}
.demo-headline {
  padding: 52px 0 53px;
  text-align: center;
}
.head-menu {
	text-align : right;
	margin-right : 50px
}

.head-menu a {
	margin-left: 10px;
}

code {
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	padding:2px 4px;
}
