body {
	background-color : #1abc9c; 
}
.commandContain {
	background-color: blue;
	color: 'red';
	.command {
		padding-left: 20px;
	}
	.desc {
		padding-left: 20px;
		font-weight: bold;
		color: red;
	}
	.user {
		padding-left : 100px;
	}
}
.demo-headline {
  padding: 72px 0 73px;
  text-align: center;
}
